Blotato-Social-Media-Uploads.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1dtxL8s3cFLJ1s4qJ25NCmT_zHDqC8CVd",
          "mode": "list",
          "cachedResultName": "Content Automation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dtxL8s3cFLJ1s4qJ25NCmT_zHDqC8CVd"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        320
      ],
      "id": "66f3a7ca-ec98-4a5e-a548-c11b3d2958fa",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g6wbb0RP32sXvLAr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        320
      ],
      "id": "0988a3df-0c85-45eb-8ba5-ca3fd566e937",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g6wbb0RP32sXvLAr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "useBinaryData": true
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -256,
        320
      ],
      "id": "9390b061-6a8e-4cce-8d12-7a2ce2f05c5b",
      "name": "Upload media",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "platform": "linkedin",
        "accountId": {
          "__rl": true,
          "value": "7768",
          "mode": "list",
          "cachedResultName": "Brocoli Avacado",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/7768"
        },
        "postContentText": "={{ $('Google Drive Trigger').item.json.name.slice(0, $('Google Drive Trigger').item.json.name.lastIndexOf('.')) }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        256,
        -80
      ],
      "id": "0e823288-3bb5-4308-aade-5c2d7a27fdc6",
      "name": "Linkedin",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "17066",
          "mode": "list",
          "cachedResultName": "broccoliavacado",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/17066"
        },
        "postContentText": "={{ $('Google Drive Trigger').item.json.name.slice(0, $('Google Drive Trigger').item.json.name.lastIndexOf('.')) }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        256,
        128
      ],
      "id": "01d29d74-b31f-4275-bcb5-777c0da95339",
      "name": "Instagram",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "platform": "facebook",
        "accountId": {
          "__rl": true,
          "value": "12030",
          "mode": "list",
          "cachedResultName": "Brocoli Avacado",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/12030"
        },
        "postContentText": "={{ $('Google Drive Trigger').item.json.name.slice(0, $('Google Drive Trigger').item.json.name.lastIndexOf('.')) }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "facebookPageId": {
          "__rl": true,
          "value": "717325074795582",
          "mode": "list",
          "cachedResultName": "Brocussy",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/12030/subaccounts/717325074795582"
        },
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        256,
        320
      ],
      "id": "5894a95f-06c0-4251-a348-f3024a64f0ca",
      "name": "Facebook",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "platform": "twitter",
        "accountId": {
          "__rl": true,
          "value": "8007",
          "mode": "list",
          "cachedResultName": "BroccoliAvacado",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/8007"
        },
        "postContentText": "={{ $('Google Drive Trigger').item.json.name.slice(0, $('Google Drive Trigger').item.json.name.lastIndexOf('.')) }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        256,
        512
      ],
      "id": "bcab4278-8990-444f-95f7-ea3656b3b34a",
      "name": "Twitter",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "platform": "youtube",
        "accountId": {
          "__rl": true,
          "value": "15614",
          "mode": "list",
          "cachedResultName": "Brocoli Avacado (Brocoli Avacado)",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/15614"
        },
        "postContentText": "={{ $('Google Drive Trigger').item.json.name.slice(0, $('Google Drive Trigger').item.json.name.lastIndexOf('.')) }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "postCreateYoutubeOptionTitle": "={{ $('Google Drive Trigger').item.json.name.slice(0, $('Google Drive Trigger').item.json.name.lastIndexOf('.')) }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        256,
        704
      ],
      "id": "9af3a9f8-527f-4109-a7b9-158e1a04ca39",
      "name": "Youtube",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Start workflow when a new file in uploaded to google drive\n",
        "height": 368,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -784,
        144
      ],
      "id": "7d9272f2-a266-4d43-a556-16eac9c1d2f9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Download the file and upload it to Blotato to get a hosted video link\n",
        "height": 368,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        144
      ],
      "id": "75b1af57-7d94-4e83-ab32-2798f95a0502",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Upload the video to Social media platforms\n",
        "height": 1040,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -176
      ],
      "id": "061a448f-a584-4d25-9fdf-1630794fbbb8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Follow these steps\n\n## Install Blotato node if you haven't already\n\n## Sign up at [Blotato](https://blotato.com/?ref=karne) for a free trial\n\n## Create a google drive folder dedicated to this automation and connect it using google cloud console\n\n## Login to all you required social media apps in blotato dashboard\n\n## Configure the API key of blotato in blotato node\n\n## Enjoy\n\n# [Youtube Tutorial](https://youtu.be/AejmiT7otgo)",
        "height": 704,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1312,
        -48
      ],
      "id": "3a923f1b-3823-450d-9313-3c50150b0c4d",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Linkedin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "ce11d2f10d93eff7b3ca4b8b4deb29007d99f7b17b7aa105891971725ff86969"
  }
}
