Blotato-Instagram-reel-automation.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2096,
        1600
      ],
      "id": "1ac73ac6-4646-4473-81cc-ed89fe109534",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "text": "=Break down the script and write it in parts.\n\nScript:\n''\n{{ $json.Script }}\n''",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"array\",\n\t\"items\": {\n\t\t\"type\": \"object\",\n\t\t\"properties\": {\n\t\t\t\"narration\": {\n\t\t\t\t\"type\": \"string\",\n\t\t\t\t\"description\": \"The piece of the script to be read aloud.\"\n\t\t\t},\n\t\t\t\"description\": {\n\t\t\t\t\"type\": \"string\",\n\t\t\t\t\"description\": \"A visual prompt/scene description for the video clip corresponding to the narration.\"\n\t\t\t}\n\t\t},\n\t\t\"required\": [\"narration\", \"description\"]\n\t}\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        400,
        1632
      ],
      "id": "4f75c299-1a90-4447-a4d1-1e54aeb36890",
      "name": "Information Extractor2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        1856
      ],
      "id": "a3d4de2a-69b4-4375-a79c-389615868645",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "edDplylFyozSJEnN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Script",
        "formDescription": "Please give the script for the video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Script",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Caption Text"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        176,
        1632
      ],
      "id": "a4efa6cd-0086-4f27-b561-cdc90ff683d4",
      "name": "On form submission2",
      "webhookId": "475ac003-f7dd-401e-96bb-34df133f49b5"
    },
    {
      "parameters": {
        "resource": "video",
        "templateId": {
          "__rl": true,
          "value": "/base/v2/ai-selfie-video/57f5a565-fd17-458b-be43-4a2d8ccaca75/v1",
          "mode": "list",
          "cachedResultName": "AI Selfie Talking Video with Consistent Character"
        },
        "templateInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "style": "realistic",
            "scenes": "={{ $json.output[0].toJsonString() }}",
            "characterDescription": "A man",
            "aspectRatio": "9:16"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scenes",
              "displayName": "Scene Descriptions with narration (e.g. [{\"key\": \"value\"}])",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "style",
              "displayName": "Visual Style",
              "required": false,
              "defaultMatch": false,
              "type": "options",
              "display": true,
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "Realistic",
                  "value": "realistic"
                },
                {
                  "name": "Cartoon",
                  "value": "cartoon"
                },
                {
                  "name": "Anime",
                  "value": "anime"
                },
                {
                  "name": "Watercolor",
                  "value": "watercolor"
                },
                {
                  "name": "Oil-painting",
                  "value": "oil-painting"
                },
                {
                  "name": "Sketch",
                  "value": "sketch"
                },
                {
                  "name": "Cyberpunk",
                  "value": "cyberpunk"
                },
                {
                  "name": "Fantasy",
                  "value": "fantasy"
                },
                {
                  "name": "Minimalist",
                  "value": "minimalist"
                }
              ]
            },
            {
              "id": "characterDescription",
              "displayName": "Character Description",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "aspectRatio",
              "displayName": "Aspect Ratio",
              "required": false,
              "defaultMatch": false,
              "type": "options",
              "display": true,
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "16:9",
                  "value": "16:9"
                },
                {
                  "name": "9:16",
                  "value": "9:16"
                },
                {
                  "name": "1:1",
                  "value": "1:1"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        976,
        1632
      ],
      "id": "640a8a8d-8014-4637-8c45-509ea5ab406d",
      "name": "Create video3",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        752,
        1632
      ],
      "id": "e35219c5-76a5-4efa-b488-1b04520d2c13",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.item.id }}"
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1200,
        1632
      ],
      "id": "f7ff625d-30c7-4513-a38f-1445738ba3ce",
      "name": "Get video2",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aca6bfe8-108d-4e66-b34d-3b3b67779479",
              "leftValue": "={{ $json.item.mediaUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        1616
      ],
      "id": "d05a1a53-650d-4777-b6ed-c1d36148f823",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": 40
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        1744
      ],
      "id": "b8c027b0-d116-446a-9f46-b4a58adac22d",
      "name": "Wait2",
      "webhookId": "51e23167-1f73-48f8-b1bb-9ad395ad58ca"
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "17066",
          "mode": "list",
          "cachedResultName": "broccoliavacado",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/17066"
        },
        "postContentText": "={{ $('On form submission2').item.json['Caption Text'] }}",
        "postContentMediaUrls": "={{ $('If2').item.json.item.mediaUrl }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        2096,
        1408
      ],
      "id": "ed6a62fc-298d-426c-a32c-500763feb4e8",
      "name": "Create post2",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "maneeshwarkarne@gmail.com",
        "subject": "Video Approval Email",
        "message": "=<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse: collapse;\">\n  <tr>\n    <td align=\"center\" style=\"padding: 0; font-size: 0; line-height: 0;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"320\" style=\"width: 320px; border-collapse: collapse; margin: 0 auto;\">\n        <tr>\n          <td align=\"center\" style=\"padding: 0;\">\n            <video controls width=\"320\" height=\"569\" style=\"display: block; width: 320px; height: 569px; max-width: 100%; border: none;\">\n              <source src=\"{{ $json.item.mediaUrl }}\" type=\"video/mp4\">\n              <a href=\"{{ $json.item.mediaUrl }}\" style=\"font-family: Arial, sans-serif; font-size: 14px; color: #153643; text-decoration: underline;\">\n                Click here to watch the video.\n              </a>\n            </video>\n          </td>\n        </tr>\n      </table>\n    </td>\n  </tr>\n</table>",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1648,
        1504
      ],
      "id": "e7c232bf-d105-4a85-88d8-2377eda2c8c5",
      "name": "Send message and wait for response1",
      "webhookId": "62280a2e-c58c-42d5-9508-a23c063c937b",
      "credentials": {
        "gmailOAuth2": {
          "id": "KG12SfUl3QCzyKmM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "17d73f3e-f9b4-4e22-89d2-63d87483c08d",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1872,
        1504
      ],
      "id": "faa5e4f4-9060-4e41-925d-24b52a0ffe7f",
      "name": "If3"
    },
    {
      "parameters": {
        "content": "# [Click here and Sign up for Blotato](https://blotato.com/?ref=karne)\n# [Google Cloud console](https://console.cloud.google.com/)",
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        1408
      ],
      "typeVersion": 1,
      "id": "b7eefc38-5bb4-4ac7-a13d-67ea9641a949",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Information Extractor2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission2": {
      "main": [
        [
          {
            "node": "Information Extractor2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create video3": {
      "main": [
        [
          {
            "node": "Get video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Create video3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send message and wait for response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Create post2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce11d2f10d93eff7b3ca4b8b4deb29007d99f7b17b7aa105891971725ff86969"
  }
}
