ebook-to-personal-ai-chatbot.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1dhG4RPpdyjrs4eNRrJ78tEj-EZaO1PtP",
          "mode": "list",
          "cachedResultName": "Atomic habits.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/1dhG4RPpdyjrs4eNRrJ78tEj-EZaO1PtP/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1696,
        1040
      ],
      "id": "35526bdd-0ff6-48f7-95a2-d68c43c411ab",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g6wbb0RP32sXvLAr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "atomichabits",
          "mode": "list",
          "cachedResultName": "atomichabits"
        },
        "options": {
          "pineconeNamespace": "DataPlace"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        -1456,
        1040
      ],
      "id": "547e5d6f-1d30-494d-b88f-39f494c29b95",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "GKbK75Aknrk33ZPA",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1488,
        1264
      ],
      "id": "1746b187-8272-4a78-b6e5-b6866b1b3d3c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "edDplylFyozSJEnN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1360,
        1264
      ],
      "id": "f1546287-4c4c-4c60-9902-668d2496410e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1264,
        1440
      ],
      "id": "9e3ddad3-b627-44db-b9e2-fe05db10a652",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').first().json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        1264
      ],
      "id": "86822ca8-70b7-4025-9f0b-7988b5d9701c",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "atomichabits",
          "mode": "list",
          "cachedResultName": "atomichabits"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 10,
        "options": {
          "pineconeNamespace": "DataPlace"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        -592,
        1040
      ],
      "id": "a7825a03-ba45-4db1-805d-c5e5808763c1",
      "name": "Pinecone Vector Store3",
      "credentials": {
        "pineconeApi": {
          "id": "GKbK75Aknrk33ZPA",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -592,
        1264
      ],
      "id": "405bea47-13db-4709-a08e-799d4cc036c5",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "edDplylFyozSJEnN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        1264
      ],
      "id": "fe6662f2-98cd-4609-8833-fa5b38b65888",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "edDplylFyozSJEnN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 680,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        960
      ],
      "typeVersion": 1,
      "id": "45aeb8f4-00a2-48da-ba36-54af71ea9139",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 680,
        "width": 1180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        960
      ],
      "typeVersion": 1,
      "id": "66de861b-4ed5-4aa9-8cbb-4fc55dcf6911",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is James. How can I assist you today?",
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -928,
        1040
      ],
      "id": "a6fec28f-f048-4aff-8f3a-56b45328848a",
      "name": "When chat message received",
      "webhookId": "fbd29f6e-9400-4aca-91a6-fd99a8bab93f"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -928,
        1264
      ],
      "id": "e83106e0-34ad-4fcb-bfe5-28a46d89cf1a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').first().json.chatInput }}",
        "options": {
          "systemMessage": "Use the following context to answer the user's question. <context> {{ $input.all()   .map(item => item.json.document.pageContent)   .join('\\n---\\n') }} </context>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -224,
        1040
      ],
      "id": "a8f148ca-6c02-4ec9-bb37-47232be41caf",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1904,
        1040
      ],
      "id": "fd701d01-51f3-48ae-9984-3034a2a841b8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "# Video Tutorial: https://youtu.be/Ra_11_9sFlE?si=cR5nF4zb6ob4C0jI",
        "width": 2144
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        784
      ],
      "typeVersion": 1,
      "id": "653f1ca0-e1ea-4023-84ea-93c9e4bf3021",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce11d2f10d93eff7b3ca4b8b4deb29007d99f7b17b7aa105891971725ff86969"
  }
}
