Instagram-Carousel-Using-Blotato.json
{
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "templateId": {
          "__rl": true,
          "value": "/base/v2/quote-card/f941e306-76f7-45da-b3d9-7463af630e91/v1",
          "mode": "list",
          "cachedResultName": "Quote Card Carousel with Paper Background and Highlight"
        },
        "templateInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "font": "Roboto Mono",
            "title": "={{ $('On form submission').item.json.Caption }}",
            "paperBackground": "White paper",
            "aspectRatio": "1:1",
            "quotes": "={{ $json.filteredStrings.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "font",
              "displayName": "Font",
              "required": false,
              "defaultMatch": false,
              "type": "options",
              "display": true,
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "Inter",
                  "value": "Inter"
                },
                {
                  "name": "Merriweather",
                  "value": "Merriweather"
                },
                {
                  "name": "Roboto Mono",
                  "value": "Roboto Mono"
                },
                {
                  "name": "VT323",
                  "value": "VT323"
                },
                {
                  "name": "Montserrat",
                  "value": "Montserrat"
                },
                {
                  "name": "Quicksand",
                  "value": "Quicksand"
                },
                {
                  "name": "Philosopher",
                  "value": "Philosopher"
                },
                {
                  "name": "Poppins",
                  "value": "Poppins"
                },
                {
                  "name": "Raleway",
                  "value": "Raleway"
                },
                {
                  "name": "Open Sans",
                  "value": "Open Sans"
                },
                {
                  "name": "Lato",
                  "value": "Lato"
                },
                {
                  "name": "Oswald",
                  "value": "Oswald"
                },
                {
                  "name": "Playfair Display",
                  "value": "Playfair Display"
                },
                {
                  "name": "Roboto",
                  "value": "Roboto"
                },
                {
                  "name": "PT Sans",
                  "value": "PT Sans"
                },
                {
                  "name": "DM Sans",
                  "value": "DM Sans"
                },
                {
                  "name": "Nunito",
                  "value": "Nunito"
                },
                {
                  "name": "Comfortaa",
                  "value": "Comfortaa"
                },
                {
                  "name": "Work Sans",
                  "value": "Work Sans"
                },
                {
                  "name": "Fjalla One",
                  "value": "Fjalla One"
                },
                {
                  "name": "Rubik",
                  "value": "Rubik"
                },
                {
                  "name": "Barlow",
                  "value": "Barlow"
                },
                {
                  "name": "Bebas Neue",
                  "value": "Bebas Neue"
                },
                {
                  "name": "Caveat",
                  "value": "Caveat"
                },
                {
                  "name": "Pacifico",
                  "value": "Pacifico"
                }
              ]
            },
            {
              "id": "title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "quotes",
              "displayName": "Quotes (e.g. [\"item 1\", \"item 2\"])",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "highlighterColor",
              "displayName": "Highlighter Color",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "paperBackground",
              "displayName": "Paper Background",
              "required": false,
              "defaultMatch": false,
              "type": "options",
              "display": true,
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "White paper",
                  "value": "White paper"
                },
                {
                  "name": "Yellow paper",
                  "value": "Yellow paper"
                },
                {
                  "name": "Light paper",
                  "value": "Light paper"
                }
              ]
            },
            {
              "id": "aspectRatio",
              "displayName": "Aspect Ratio",
              "required": false,
              "defaultMatch": false,
              "type": "options",
              "display": true,
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "4:5",
                  "value": "4:5"
                },
                {
                  "name": "1:1",
                  "value": "1:1"
                },
                {
                  "name": "9:16",
                  "value": "9:16"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -464,
        496
      ],
      "id": "0cf96a53-fba5-4ace-94bf-88c8c5a4cc98",
      "name": "Create video",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Give the Text for Carousel",
        "formDescription": "Give the Text for Carousel",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image 1"
            },
            {
              "fieldLabel": "Image 2"
            },
            {
              "fieldLabel": "Image 3"
            },
            {
              "fieldLabel": "Image 4"
            },
            {
              "fieldLabel": "Image 5"
            },
            {
              "fieldLabel": "Image 6"
            },
            {
              "fieldLabel": "Image 7"
            },
            {
              "fieldLabel": "Image 8"
            },
            {
              "fieldLabel": "Image 9"
            },
            {
              "fieldLabel": "Image 10"
            },
            {
              "fieldLabel": "Caption"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -912,
        496
      ],
      "id": "8daa37c7-b0a6-480d-9a84-ab28564441db",
      "name": "On form submission",
      "webhookId": "eca4a5bd-7a5e-43f9-9d32-f7ea7f274a1d"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.item.id }}"
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -160,
        496
      ],
      "id": "ac7f8b17-0d93-4644-bdd8-c855aa008a01",
      "name": "Get video",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "17066",
          "mode": "list",
          "cachedResultName": "broccoliavacado",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/17066"
        },
        "postContentText": "={{ $('On form submission').item.json.Caption }}",
        "postContentMediaUrls": "={{ $json.item.imageUrls.join(',') }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        512,
        480
      ],
      "id": "a3fd48ec-dd75-4aa9-8b1a-8b5ca2d9f416",
      "name": "Create post",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step one: Install Blotato node\n## Step Two: [Click here and Sign up for Blotato](https://blotato.com/?ref=karne)\n## Step Three: Configure the Blotato API in n8n\n## Step Four: Take advantage of the Automation\n\n## Youtube Tutorial: https://youtu.be/rh4auJBjeDk",
        "height": 240,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        144
      ],
      "typeVersion": 1,
      "id": "73023795-c8b5-4ef7-944d-373016905d38",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Collect the Script and Organize",
        "height": 240,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        432
      ],
      "id": "96920713-edd4-4e67-8ea3-4f96766eaeb7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Create Carousel",
        "height": 240,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        432
      ],
      "id": "86760a89-d862-460d-934d-203046112b33",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Check if Carousel has been generated and wait if not generated yet. If generated, break the loop",
        "height": 368,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        416
      ],
      "id": "b9a81967-ec9e-4588-82ea-ca263cdb5ad2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Upload the Carousel to Instagram",
        "height": 352,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        384
      ],
      "id": "ff6cfc77-d89c-48fb-8233-513e941af4f3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json;\nconst keysToExclude = [\"submittedAt\", \"formMode\",\"Caption\"];\n\n// Initialize an array to hold only the extracted string values\nconst stringValues = [];\n\n// Iterate and filter values as before\nfor (const key in inputData) {\n  if (inputData.hasOwnProperty(key)) {\n    // Skip excluded keys or keys containing \"First\"\n    if (keysToExclude.includes(key) || key.includes(\"First\")) {\n      continue;\n    }\n\n    const value = inputData[key];\n\n    // Check if the value is a non-empty string\n    if (typeof value === 'string' && value.trim() !== '') {\n      stringValues.push(value);\n    }\n  }\n}\n\n// Return a single n8n item containing the array of strings\n// in a new key, for example, \"filteredStrings\".\nreturn [{\n  json: {\n    filteredStrings: stringValues\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        496
      ],
      "id": "ecc2667b-f34a-4bf2-a598-5c359aed5658",
      "name": "Organize the collected input data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "eabd28bb-0581-4706-8ca2-0ec42b97b411",
              "leftValue": "={{ $json.item.imageUrls }}",
              "rightValue": "null",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        496
      ],
      "id": "7c3e7ac4-2e54-4633-819f-01e8792af59a",
      "name": "Check if Carousel images are generated"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        592
      ],
      "id": "02a4a26a-26bb-4ad4-aa3e-92ab1d460488",
      "name": "Wait  before checking again",
      "webhookId": "8478aa02-58ee-4cf5-b881-0667751256d7"
    }
  ],
  "connections": {
    "Create video": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Organize the collected input data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video": {
      "main": [
        [
          {
            "node": "Check if Carousel images are generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organize the collected input data": {
      "main": [
        [
          {
            "node": "Create video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Carousel images are generated": {
      "main": [
        [
          {
            "node": "Create post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait  before checking again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait  before checking again": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "ce11d2f10d93eff7b3ca4b8b4deb29007d99f7b17b7aa105891971725ff86969"
  }
}
