Instagram-Carousel-Using-Blotato.json
{
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "templateId": {
          "__rl": true,
          "value": "/base/v2/tweet-card/ba413be6-a840-4e60-8fd6-0066d3b427df/v1",
          "mode": "list",
          "cachedResultName": "Twitter/X style quote cards with minimal style"
        },
        "templateInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "verified": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "quotes",
              "displayName": "Quotes (e.g. [\"item 1\", \"item 2\"])",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "authorName",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "handle",
              "displayName": "Social Media Handle",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "profileImage",
              "displayName": "Profile Photo URL (publicly accessible URL)",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "verified",
              "displayName": "Show Verified Badge",
              "required": false,
              "defaultMatch": false,
              "type": "boolean",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "type": "options",
              "display": true,
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "Dark",
                  "value": "dark"
                },
                {
                  "name": "Light",
                  "value": "light"
                }
              ]
            },
            {
              "id": "aspectRatio",
              "displayName": "Aspect Ratio",
              "required": false,
              "defaultMatch": false,
              "type": "options",
              "display": true,
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "4:5",
                  "value": "4:5"
                },
                {
                  "name": "1:1",
                  "value": "1:1"
                },
                {
                  "name": "9:16",
                  "value": "9:16"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        672,
        80
      ],
      "id": "17bd6387-0304-4aec-aa1d-7524e70658d7",
      "name": "Create video",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Give the Text for Carousel",
        "formDescription": "Give the Text for Carousel",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image 1"
            },
            {
              "fieldLabel": "Image 2"
            },
            {
              "fieldLabel": "Image 3"
            },
            {
              "fieldLabel": "Image 4"
            },
            {
              "fieldLabel": "Image 5"
            },
            {
              "fieldLabel": "Image 6"
            },
            {
              "fieldLabel": "Image 7"
            },
            {
              "fieldLabel": "Image 8"
            },
            {
              "fieldLabel": "Image 9"
            },
            {
              "fieldLabel": "Image 10"
            },
            {
              "fieldLabel": "Caption"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        224,
        80
      ],
      "id": "fd494754-be07-4918-9fcf-d2d3e70b217e",
      "name": "On form submission",
      "webhookId": "eca4a5bd-7a5e-43f9-9d32-f7ea7f274a1d"
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json;\nconst keysToExclude = [\"submittedAt\", \"formMode\",\"Caption\"];\n\n// Initialize an array to hold only the extracted string values\nconst stringValues = [];\n\n// Iterate and filter values as before\nfor (const key in inputData) {\n  if (inputData.hasOwnProperty(key)) {\n    // Skip excluded keys or keys containing \"First\"\n    if (keysToExclude.includes(key) || key.includes(\"First\")) {\n      continue;\n    }\n\n    const value = inputData[key];\n\n    // Check if the value is a non-empty string\n    if (typeof value === 'string' && value.trim() !== '') {\n      stringValues.push(value);\n    }\n  }\n}\n\n// Return a single n8n item containing the array of strings\n// in a new key, for example, \"filteredStrings\".\nreturn [{\n  json: {\n    filteredStrings: stringValues\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        80
      ],
      "id": "3523c9bc-85cd-4417-ad09-fcd26c8e7e76",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.item.id }}"
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        896,
        80
      ],
      "id": "00b61275-8615-4b60-b891-32a16c5da3fb",
      "name": "Get video",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "eabd28bb-0581-4706-8ca2-0ec42b97b411",
              "leftValue": "={{ $json.item.imageUrls }}",
              "rightValue": "null",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "id": "2323b9c6-666a-4010-9553-7d20a5a24de0",
      "name": "If"
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "17066",
          "mode": "list",
          "cachedResultName": "broccoliavacado",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/17066"
        },
        "postContentText": "={{ $('On form submission').item.json.Caption }}",
        "postContentMediaUrls": "={{ $json.item.imageUrls.join(',') }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1344,
        -48
      ],
      "id": "42490359-8b47-4f95-aedf-54fccb7c9fce",
      "name": "Create post",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        176
      ],
      "id": "98b226a8-ba10-4976-91de-cf503954c53e",
      "name": "Wait",
      "webhookId": "8478aa02-58ee-4cf5-b881-0667751256d7"
    },
    {
      "parameters": {
        "content": "## Step one: Install Blotato node\n## Step Two: [Click here and Sign up for Blotato](https://blotato.com/?ref=karne)\n## Step Three: Configure the Blotato API in n8n\n## Step Four: Take advantage of the Automation\n\n## Youtube Tutorial: https://youtu.be/rh4auJBjeDk",
        "height": 240,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -192
      ],
      "typeVersion": 1,
      "id": "3e5b2a4c-2eb0-4f51-b1fa-45f2621b3991",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Create video": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "ce11d2f10d93eff7b3ca4b8b4deb29007d99f7b17b7aa105891971725ff86969"
  }
}
