Instagram-Carousel-Using-Blotato.json
{
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "templateId": {
          "__rl": true,
          "value": "/base/v2/quote-card/f941e306-76f7-45da-b3d9-7463af630e91/v1",
          "mode": "list",
          "cachedResultName": "Quote Card Carousel with Paper Background and Highlight"
        },
        "templateInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "font": "Roboto Mono",
            "paperBackground": "Light paper",
            "aspectRatio": "1:1",
            "title": "Truths about Life",
            "highlighterColor": "#ffff00",
            "quotes": "={{ $json.filteredStrings.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "font",
              "displayName": "Font",
              "required": false,
              "defaultMatch": false,
              "type": "options",
              "display": true,
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "Inter",
                  "value": "Inter"
                },
                {
                  "name": "Merriweather",
                  "value": "Merriweather"
                },
                {
                  "name": "Roboto Mono",
                  "value": "Roboto Mono"
                },
                {
                  "name": "VT323",
                  "value": "VT323"
                },
                {
                  "name": "Montserrat",
                  "value": "Montserrat"
                },
                {
                  "name": "Quicksand",
                  "value": "Quicksand"
                },
                {
                  "name": "Philosopher",
                  "value": "Philosopher"
                },
                {
                  "name": "Poppins",
                  "value": "Poppins"
                },
                {
                  "name": "Raleway",
                  "value": "Raleway"
                },
                {
                  "name": "Open Sans",
                  "value": "Open Sans"
                },
                {
                  "name": "Lato",
                  "value": "Lato"
                },
                {
                  "name": "Oswald",
                  "value": "Oswald"
                },
                {
                  "name": "Playfair Display",
                  "value": "Playfair Display"
                },
                {
                  "name": "Roboto",
                  "value": "Roboto"
                },
                {
                  "name": "PT Sans",
                  "value": "PT Sans"
                },
                {
                  "name": "DM Sans",
                  "value": "DM Sans"
                },
                {
                  "name": "Nunito",
                  "value": "Nunito"
                },
                {
                  "name": "Comfortaa",
                  "value": "Comfortaa"
                },
                {
                  "name": "Work Sans",
                  "value": "Work Sans"
                },
                {
                  "name": "Fjalla One",
                  "value": "Fjalla One"
                },
                {
                  "name": "Rubik",
                  "value": "Rubik"
                },
                {
                  "name": "Barlow",
                  "value": "Barlow"
                },
                {
                  "name": "Bebas Neue",
                  "value": "Bebas Neue"
                },
                {
                  "name": "Caveat",
                  "value": "Caveat"
                },
                {
                  "name": "Pacifico",
                  "value": "Pacifico"
                }
              ]
            },
            {
              "id": "title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "quotes",
              "displayName": "Quotes (e.g. [\"item 1\", \"item 2\"])",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "highlighterColor",
              "displayName": "Highlighter Color",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            },
            {
              "id": "paperBackground",
              "displayName": "Paper Background",
              "required": false,
              "defaultMatch": false,
              "type": "options",
              "display": true,
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "White paper",
                  "value": "White paper"
                },
                {
                  "name": "Yellow paper",
                  "value": "Yellow paper"
                },
                {
                  "name": "Light paper",
                  "value": "Light paper"
                }
              ]
            },
            {
              "id": "aspectRatio",
              "displayName": "Aspect Ratio",
              "required": false,
              "defaultMatch": false,
              "type": "options",
              "display": true,
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "4:5",
                  "value": "4:5"
                },
                {
                  "name": "1:1",
                  "value": "1:1"
                },
                {
                  "name": "9:16",
                  "value": "9:16"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -224,
        208
      ],
      "id": "cb9b95f6-ce44-4f50-83ae-956edc909b77",
      "name": "Create video",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Give the Text for Carousel",
        "formDescription": "Give the Text for Carousel",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image 1"
            },
            {
              "fieldLabel": "Image 2"
            },
            {
              "fieldLabel": "Image 3"
            },
            {
              "fieldLabel": "Image 4"
            },
            {
              "fieldLabel": "Image 5"
            },
            {
              "fieldLabel": "Image 6"
            },
            {
              "fieldLabel": "Image 7"
            },
            {
              "fieldLabel": "Image 8"
            },
            {
              "fieldLabel": "Image 9"
            },
            {
              "fieldLabel": "Image 10"
            },
            {
              "fieldLabel": "Caption"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -672,
        208
      ],
      "id": "654ee839-4062-4cb0-834c-a7c0e626d19c",
      "name": "On form submission",
      "webhookId": "eca4a5bd-7a5e-43f9-9d32-f7ea7f274a1d"
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json;\nconst keysToExclude = [\"submittedAt\", \"formMode\",\"Caption\"];\n\n// Initialize an array to hold only the extracted string values\nconst stringValues = [];\n\n// Iterate and filter values as before\nfor (const key in inputData) {\n  if (inputData.hasOwnProperty(key)) {\n    // Skip excluded keys or keys containing \"First\"\n    if (keysToExclude.includes(key) || key.includes(\"First\")) {\n      continue;\n    }\n\n    const value = inputData[key];\n\n    // Check if the value is a non-empty string\n    if (typeof value === 'string' && value.trim() !== '') {\n      stringValues.push(value);\n    }\n  }\n}\n\n// Return a single n8n item containing the array of strings\n// in a new key, for example, \"filteredStrings\".\nreturn [{\n  json: {\n    filteredStrings: stringValues\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        208
      ],
      "id": "9019f8f4-3339-42b5-801b-e7671e019477",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.item.id }}"
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "id": "ffd822e3-414e-477c-b7ae-c7208d2fb495",
      "name": "Get video",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "eabd28bb-0581-4706-8ca2-0ec42b97b411",
              "leftValue": "={{ $json.item.imageUrls }}",
              "rightValue": "null",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        128
      ],
      "id": "2a52a91f-40a0-4d4f-9e70-ac58d3a1a910",
      "name": "If"
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "17066",
          "mode": "list",
          "cachedResultName": "broccoliavacado",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/17066"
        },
        "postContentText": "={{ $('On form submission').item.json.Caption }}",
        "postContentMediaUrls": "={{ $json.item.imageUrls.join(',') }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        448,
        80
      ],
      "id": "dad50a01-ed6d-4b19-908c-3e91be422b33",
      "name": "Create post",
      "credentials": {
        "blotatoApi": {
          "id": "F4zL2Ba0CXpJH5NJ",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        304
      ],
      "id": "052f8d75-2900-47aa-a973-a6660e7ec932",
      "name": "Wait",
      "webhookId": "8478aa02-58ee-4cf5-b881-0667751256d7"
    },
    {
      "parameters": {
        "content": "## Step one: Install Blotato node\n## Step Two: [Click here and Sign up for Blotato](https://blotato.com/?ref=karne)\n## Step Three: Configure the Blotato API in n8n\n## Step Four: Take advantage of the Automation\n",
        "height": 192,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -16
      ],
      "typeVersion": 1,
      "id": "c3425544-e313-4244-acc1-75091b73819f",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Create video": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce11d2f10d93eff7b3ca4b8b4deb29007d99f7b17b7aa105891971725ff86969"
  }
}
